<form [formGroup]="registerForm" class="grid formgrid">
  <div class="col-12">
    <h1>Registrarse</h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <mat-form-field class="col-12">
            <mat-label>Nombre</mat-label>
            <input  matInput formControlName="nombre" />
        </mat-form-field>
    </div>
    <div class="col-sm-6">
<mat-form-field class="col-12">
    <mat-label>Apellido</mat-label>
    <input   matInput formControlName="apellido" />
  </mat-form-field>
    </div>
  </div>
  
  

  <mat-form-field class="col-12">
    <mat-label>Email</mat-label>
    <input type="email"  matInput formControlName="email" />
  </mat-form-field>

  <mat-form-field class="col-12">
    <mat-label>Contraseña</mat-label>
    <input  matInput formControlName="password" />
  </mat-form-field>

  <div class="col-12 d-flex justify-content-end">
    <button mat-raised-button color="primary" type="button" class="me-3" (click)="cancelar()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" type="button" [disabled]="!registerForm.valid" (click)="registrarse()">
      Registrarse
    </button>
  </div>
</form>
