@if (loading) {
<p>Cargando...</p>
} @else if (error) {
<p>Error al cargar los cursos.</p>
} @else {
  <div class="mt-5 container ms-0 me-0 ps-0">
    <table class="table table-light">
      <thead>
        <tr>
            <th class="col-sm-2"> Nro. </th>
            <th class="col-sm-3"> Curso </th>
            <th class="col-sm-2"> Profesor/a </th>
            <th class="col-sm-2"> Modalidad </th>
            <th class="col-sm-1"> Nivel </th>
            <th class="col-sm-2">  </th>
            <th></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of dataSource">
          <td >{{ course.id }}</td>
          <td >{{ course.name }}</td>
          <td >{{ course.professor }}</td>
          <td >{{ course.modality }}</td>
          <td >{{ course.level }}</td>
          <td  >
          <button mat-button 
          [routerLink]="course.id" 
          >
              <mat-icon>visibility</mat-icon>
            </button>

            <button mat-button 
            [disabled]="(authUser$ | async)?.role != 'admin'"
            (click)="editCourse.emit(course)"> 
              <mat-icon>edit</mat-icon>
            </button>  

            <button mat-button 
            [disabled]="(authUser$ | async)?.role != 'admin'"
            (click)="deleteCourse.emit(course.id)"> 
              <mat-icon>delete</mat-icon>
            </button>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
}


  