<mat-toolbar>
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="titles">ABM de estudiantes</div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


  <mat-drawer-container class="example-container" autosize>
  <!-- SIDE MENU INICIO -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-menu />
  </mat-drawer>
  <!-- SIDE MENU FIN -->

  <!-- AREA DE CONTENIDO INICIO -->
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
  <!-- AREA DE CONTENIDO FIN -->
</mat-drawer-container>
  
  
