@if (loading) {
<p>Cargando...</p>
} @else if (error) {
<p>Error al cargar los estudiantes.</p>
} @else {
  <div class="mt-5 container ms-0 me-0 ps-0">
    <table class="table table-light">
      <thead>
        <tr>
          <th class="col-sm-2"> Nro. </th>
          <th class="col-sm-4"> Nombre Completo </th>
          <th class="col-sm-1">Nota</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of dataSource">
          <td >{{ student.id }}</td>
          <td  >{{ student | nameLastName }}</td>
          <td >{{ student.grade | number }}</td>
          <td  >
          <button mat-button 
          [routerLink]="'students/'+student.id" 
          >
              <mat-icon>visibility</mat-icon>
            </button>

            <button mat-button 
            [disabled]="(authUser$ | async)?.role != 'admin'"
            (click)="editStudent.emit(student)"> 
              <mat-icon>edit</mat-icon>
            </button>  

            <button mat-button 
            [disabled]="(authUser$ | async)?.role != 'admin'"
            (click)="deleteStudent.emit(student.id)"> 
              <mat-icon>delete</mat-icon>
            </button>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>

}
